.app_header__main-container {
  display: flex;
  justify-content: space-between;
}

.app_header__back-button {
  width: 24px;
  height: 24px;
  color: white;
}

.app_header__logo {
  margin-left: auto;
}
