.app_header__main-container {
  display: flex;
  justify-content: space-between;
}

.app_header__back-button {
  @include square($default-size-unit);
  color: white;
}

.app_header__logo {
  margin-left: auto;
}
