.debit-card__main-container {
  background-color: $background-blue;
}

.debit-card__top_container {
  padding: 24px;
}

.debit-card__balance-title {
  @include mediumText;
  margin-top: 24px;
}

.debit-card__card-container {
  margin-top: 24px;
}
