.main-container--mobile {
  background-color: $background-blue;
  margin-bottom: 80px;
}

.main-container--desktop {
  background-color: white;
  margin-bottom: 80px;
}

.debit-card__top_container {
  padding: 24px;
}

.debit-card__balance-title {
  @include mediumText;
}

.debit-card__card-container {
  margin-top: 24px;
}
